<header>
    <nav class="navbar navbar-expand-md navbar-brand nav-tabs navbar-dark col-12 text-center bg-secondary font-weight-bolder">
        <h1>LOAN MANAGEMENT SYSTEM</h1>
        </nav>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav justify-content-start navbar-collapse">
            <li><a *ngIf="validateUserService.isUserLoggedIn" routerLink="viewloan" class="nav-link">VIEW LOAN </a> </li>
            <li><a *ngIf="validateUserService.isUserLoggedIn" class="nav-link">ADD LOAN</a> </li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!validateUserService.isUserLoggedIn" routerLink="login" class="nav-link">Login</a></li>
            <li><a *ngIf="validateUserService.isUserLoggedIn" routerLink="logout" class="nav-link">Logout</a></li>       
        </ul>
    </nav>
</header>
