<div class="card-body bg-light">
    <h3>LOAN SEARCH FORM</h3>
    <div class="container card-body card-container card-small highlight-card bg-light">

        <h4>Enter Loan Search Criteria:</h4>
        <div class="form-group">
            <table>
                <tr>
                    <td>Borrower Full Name:</td>
                    <td><input [(ngModel)]="borrowerFullName" type="text" placeholder="Borrower Full Name"></td>
                </tr>
                <tr>
                    <td>Loan Number:</td>
                    <td><input [(ngModel)]="loanNumber" type="text" placeholder="Loan Number"></td>
                </tr>
                <tr>
                    <td>Loan Amount :</td>

                    <td><input [(ngModel)]="loanAmount" type="text" placeholder="Loan Amount"></td>
                </tr>

            </table>
            <button (click)='searchLoan()' class="btn btn-primary">Search Loan</button>
        </div>
        <div>
            <div *ngIf='flag'>
                <h3>Loan Details found !!</h3>
            </div>
            <div *ngIf="notfound" class="text-danger">
                <h3>No results found !!</h3>
            </div>
            <div *ngIf="deleted" class="text-danger">
                <h3>Loan details deleted !!</h3>
            </div>
            <table id="loanDetails" *ngIf='flag && !deleted'>

                <tr>
                    <th>Borrower Full Name</th>
                    <th>Loan Number</th>
                    <th>Loan Amount</th>
                    <th>Edit Loan</th>
                    <th>Delete Loan</th>
                </tr>
                <tr>
                    <td>{{dbBorrowerFullName}}</td>
                    <td>{{dbLoanNumber}}</td>
                    <td>{{dbLoanAmount}}</td>
                    <td><button (click)='editLoan()' class="btn btn-warning">Edit</button></td>
                    <td><button (click)='deleteLoan()' class="btn btn-danger">Delete</button></td>
                </tr>
            </table>
        </div>

    </div>
</div>