<div class="card-body bg-light">
    <h3>LOAN SEARCH FORM</h3>
    <div class="container card-body card-container card-small highlight-card bg-light">

        <h4>Enter Loan Search Criteria:</h4>
        <div class="form-group">
            <table>
                <tr>
                    <td>Borrower Full Name:</td>
                    <td><input [(ngModel)]="loanInfoInput.borrowerName" type="text" placeholder="Borrower Full Name">
                    </td>
                </tr>
                <tr>
                    <td>Loan Number:</td>
                    <td><input [(ngModel)]="loanInfoInput.loanNumber" type="text" placeholder="Loan Number"></td>
                </tr>
                <tr>
                    <td>Loan Amount :</td>

                    <td><input [(ngModel)]="loanInfoInput.loanAmount" type="text" placeholder="Loan Amount"></td>
                </tr>

            </table>
            <button (click)='searchLoan()' class="btn btn-primary">Search Loan</button>
        </div>
        <div>
            <div *ngIf="notfound" class="text-danger">
                <h3>No results found !!</h3>
            </div>
            <div *ngIf='flag' class="text-success">
                <h3>Loan Details found !!</h3>
            </div>
            <table id="loanDetails" *ngIf='flag'>
                <tr>
                    <th>Borrower Name</th>
                    <th>Address Line 1</th>
                    <th>Address Line 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Loan Number</th>
                    <th>Loan Amount</th>
                    <th>Loan Term</th>
                    <th>Lien ID</th>
                    <th>Lien Type</th>
                    <th>Legal Description</th>
                    <th>Edit Loan</th>
                </tr>
                <tr>
                    <td>{{loanInfo.borrowerName}}</td>
                    <td>{{loanInfo.addressLine1}}</td>
                    <td>{{loanInfo.addressLine2}}</td>
                    <td>{{loanInfo.city}}</td>
                    <td>{{loanInfo.state}}</td>
                    <td>{{loanInfo.zip}}</td>
                    <td>{{loanInfo.loanNumber}}</td>
                    <!--<td><a routerLink="/editloan" (click)="editLoan()">{{loanInfo.loanNumber}}</a></td>-->
                    <td>{{loanInfo.loanAmount}}</td>
                    <td>{{loanInfo.loanTerm}}</td>
                    <td>{{loanInfo.lienID}}</td>
                    <td>{{loanInfo.lienType}}</td>
                    <td>{{loanInfo.legalDescription}}</td>
                    <td><button (click)='editLoan()' class="btn btn-warning">Edit</button></td>
                </tr>
            </table>
        </div>

    </div>
</div>