<form #editLoanForm="ngForm">
    <div class="card-body bg-light">
        <h3>EDIT LOAN</h3>
        <div class="container card-body card-container card-small highlight-card bg-light">
            <!--<h3>{{updatedLoanInfo|json}}</h3>-->
            <h4>Update Loan Details</h4>
            <div class="form-group col-form-label">
                <table>
                    <div class="container card-body card-container card-small highlight-card bg-light">
                        <tr>
                            <td>Borrower Name:</td>
                            <td><input [(ngModel)]="loanInfoModel.borrowerName" name="borrowerName" required type="text"
                                    placeholder="Borrower Name"></td>
                        </tr>
                    </div>
                    <div class="container card-body card-container card-small highlight-card bg-light">
                        <tr>
                            <td>Address Line 1:</td>
                            <td><input [(ngModel)]="loanInfoModel.addressLine1" name="addressLine1" required type="text"
                                    placeholder="Address Line 1"></td>
                        </tr>
                        <tr>
                            <td>Address Line 2:</td>
                            <td><input [(ngModel)]="loanInfoModel.addressLine2" name="addressLine2" required type="text"
                                    placeholder="Address Line 2"></td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td><input [(ngModel)]="loanInfoModel.city" name="city" required type="text"
                                    placeholder="City"></td>
                        </tr>
                        <tr>
                            <td>State:</td>
                            <td><input [(ngModel)]="loanInfoModel.state" name="state" required type="text"
                                    placeholder="State"></td>
                        </tr>
                        <tr>
                            <td>Zip Code:</td>
                            <td><input [(ngModel)]="loanInfoModel.zipCode" name="zipCode" required type="text"
                                    placeholder="Zip Code"></td>
                        </tr>
                    </div>
                    <div class="container card-body card-container card-small highlight-card bg-light">
                        <tr>
                            <td>Loan Amount :</td>

                            <td><input [(ngModel)]="loanInfoModel.loanAmount" name="loanAmount" required type="text"
                                    placeholder="Loan Amount"></td>
                        </tr>
                        <tr>
                            <td>Loan Term :</td>

                            <td><input [(ngModel)]="loanInfoModel.loanTerm" name="loanTerm" required type="text"
                                    placeholder="Loan Term"></td>
                        </tr>
                        <tr>
                            <td>Lien ID:</td>

                            <td><input [(ngModel)]="loanInfoModel.lienID" name="lienId" required type="text"
                                    placeholder="Lien ID"></td>
                        </tr>
                        <tr>
                            <td>Lien Type:</td>

                            <td><input [(ngModel)]="loanInfoModel.lienType" name="lienType" required type="text"
                                    placeholder="Lien Type"></td>
                        </tr>
                    </div>
                    <div class="container card-body card-container card-small highlight-card bg-light">
                        <tr>
                            <td>Legal Description:</td>

                            <td><input [(ngModel)]="loanInfoModel.legalDescription" name="legalDescription" required
                                    type="text" placeholder="Legal Description"></td>
                        </tr>
                    </div>
                </table>
                
                <div class="form-group row">
                    <div class="col-md-1">
                        <button class="btn btn-primary" (click)="updateLoan()" [disabled]="!editLoanForm.form.valid">UPDATE</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-warning" (click)="doCancel()">Cancel</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>