<div class="card-body bg-light"><h3>LOGIN</h3>
    <div class="container card-body card-container card-small highlight-card bg-light">
        <div class="form-group">
           USERNAME :
            <input type="text" name="username" [(ngModel)]="username">
        </div>
        <div class="form-group">
            PASSWORD :
            <input type="password" name="password" [(ngModel)]="password">
        </div>
        <div class="form-group card-body">
            <button class="btn btn-success" (click)=handleLogin()>LOGIN</button> 
        </div>
    </div>
</div>    